{{!< default}}

<header class="bg-gray-800 shadow-lg w-full">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        {{navigation}}
        <div class="flex items-center justify-center h-64">
            <div class="flex flex-col items-center">
                <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <h1 class="text-4xl font-bold leading-tight text-white">
                        {{@site.title}}
                    </h1>
                </div>
                {{#if @site.description}}
                <p class="mt-6 text-lg text-white italic">{{@site.description}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</header>

<main>
  <div class="justify-center block md:flex-wrap md:flex">
    {{#foreach posts visibility="all"}}
      {{> "card"}} {{!-- partials/card.hbs --}}
    {{/foreach}}
  </div>
</main>
